.container-box {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  justify-content: center;
  gap: 10px;
}

.item-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.image-box {
  height: auto;
  border-radius: 10px;
}

.text-box {
  text-align: center;
}


.carrusel-principal {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 60px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.carrusel-principal .carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


/* Accesos principales */

.tech-container a {
  text-decoration: none;
}

.tech-container a:hover {
  text-decoration: none;
  color: #ffffff;
}


/* Footer */

footer.seccion {
  margin-top: 60px;
  padding: 25px;
  background-color: #ffffff;
  color: #ffffff;
}



@media (max-width: 767px) {

  .carrusel-principal {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .carrusel-principal .carousel-inner img {
    height: 280px;
  }



}
