@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.head {
  font-family: "Inter";
}

.body {
  font-family: "Inter";
}

/* CONTENEDOR DE LAS CAJAS */
.container-box {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  justify-content: center;
  gap: 15px;
}
/* REPISA EN DONDE SE COLOCA LA INFORMACION */
.item-box {
  position: relative;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* REPISA EN DONDE SE COLOCA LA INFORMACION */
.image-box {
  height: auto;
  border-radius: 10px;
}

/* TEXTO ENCIMA DE IMAGEN */
.text-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------REPISA HOVER------------*/

.item-box :hover{
  z-index: 1;
  transform: translateY(-5px);
  transition: 100ms ease;
}

.item-box:hover .image-box {
  transform: scale(1.03);
}

.item-box:hover .text-box {
  z-index: 2;
  opacity: 1;
  transition: 200ms ease;
}

/*------------Text Interaccion------------*/

.text-interaction :hover{
  
  transition: 100ms ease;
}


/*------------Config Carrusel------------*/


.carrusel-principal {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 60px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.carrusel-principal .carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


/* Accesos principales */

.tech-container a {
  text-decoration: none;
}

.tech-container a:hover {
  text-decoration: none;
  color: #ffffff;
}


/* Footer */

footer.seccion {
  margin-top: auto;
  padding: 25px 0;
  width: 100%;
  object-fit: fill;
  background-color: whitesmoke;
  color: black;
}



@media (max-width: 767px) {

  .carrusel-principal {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .carrusel-principal .carousel-inner img {
    height: 280px;
  }



}
